
.input__container {
    border: $input-border-width $input-border-style $input-border-color;
    border-radius: $input-border-radius;
    padding: 0.5rem 1rem;
    &:hover {
        outline: $input-hover-outline-width $input-border-style $input-hover-outline-color;
    }
}

.textarea__container {
    border: $input-border-width $input-border-style $input-border-color;
    border-radius: $input-border-radius;
    padding: 0.5rem 1rem;
    &:hover {
        outline: $input-hover-outline-width $input-border-style $input-hover-outline-color;
    }
}